@import "vars";
@import "global";
@import "fonts";

.header__top-inner {
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
}

.header__text {
  margin-left: auto;
  margin-right: 50px;
  span {
    color: $red;
  }
}

.header__btn {
  padding: 4px;
  font-size: 12px;
  border-radius: 4px;
  color: #ffffff;
  width: 72px;
  line-height: 24px;
  background-color: $green;
  text-align: center;
}

.header__btn-register {
  background-color: $red;
  margin-left: 7px;
}

.header__menu {
  background-color: $bg;
}

.menu {
  display: flex;
  align-items: center;
  min-height: 60px;
}

.menu__list {
  li {
    display: inline-block;
    // li + li
    & + li {
      margin-left: 30px;
    }
  }
  a {
    color: #fff;
    font-size: 14px;
    @include f500;
  }
}

// search
.search {
  background-repeat: no-repeat;
  // for all screens responsive
  background-size: cover;
  background-position: center;
  min-height: 532px;
}

.search__inner {
  // резервируем небольшой паддинг боттом если блок будет расширяться
  padding: 156px 0px 100px;
  color: #ffffff;
  text-align: center;
  &-title {
    font-size: 48px;
    @include f700;
    line-height: 72px;
  }
  &-text {
    font-size: 20px;
    @include f500;
    margin-top: 24px;
    margin-bottom: 54px;
    line-height: 30px;
  }
  &-form {
    max-width: 670px;
    margin: 0 auto;
    // ставим кнопку поиска в форму
    position: relative;
    input {
      display: block;
      width: 100%;
      height: 56px;

      padding-left: 25px;
      padding-right: 60px;
      border-radius: 4px;
      border: none;
      box-shadow: 0px 1px 10px 0px rgba(123, 178, 64, 0.75);
      font-size: 14px;
      @include f500;
      // outline: none;
      // &:focus{
      //   border: 1px solid $color-text;
      // }
      &::placeholder {
        letter-spacing: 0.05em;
        color: #90a4ae;
        @include f500;
      }
    }
    button {
      position: absolute;
      border: none;
      background-color: transparent;
      right: 20px;
      top: 16px;
    }
  }
}

// products
.products {
  padding: 100px 0px;
  background-color: $grey;
}

.products__inner-btn {
  text-align: center;
  margin-bottom: 59px;
  button {
    padding: 12px 21px;
    border: none;
    background-color: #fff;
    font-size: 14px;

    @include f500;
    color: $bg;
    cursor: pointer;
    & + button {
      margin-left: 5px;
    }
    &.mixitup-control-active {
      background-color: $red;
      color: #fff;
    }
  }
}

.products__inner-box {
  // раскидать эл-ты
  display: flex;
  justify-content: space-between;
  // делаем перенос
  flex-wrap: wrap;
}

.product__item {
  max-width: 442px;
  width: 100%;
  box-shadow: 0px 1px 2px 0px rgba(205, 213, 222, 0.75);
  margin-bottom: 30px;
  &-img {
    min-height: 250px;
    background-repeat: no-repeat;
    display: block;
    background-position: center;
    background-size: cover;
  }
  &-content {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    min-height: 90px;
    align-items: center;
    min-height: 90px;
    @include f500;
    border-bottom: 1px solid #e7ecf2;
  }
  &-name {
    // резервируем тайтл чтобы не залазил заголовок на цену, в случае увеличение контента
    max-width: 310px;
  }
  &-title {
    font-size: 18px;

    color: $bg;
    display: block;
  }
  &-category {
    font-size: 14px;

    color: $green;
    display: block;
  }
  &-price {
    font-size: 20px;
    @include f700;
    color: $bg;
  }
  &-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding: 10px 30px;
  }
  &-author {
    display: flex;
    align-items: center;
    max-width: 245px;
    span {
      font-size: 14px;
      @include f500;
    }
    .avatar {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-position: center;
      display: inline-block;
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 14px;
    }
  }
}
.products__bottom-btn {
  text-align: center;
  button {
    margin-top: 45px 5px 0;
    background-color: #fff;
    box-shadow: 0px 1px 3px 0px rgba(203, 215, 228, 0.75);
    border: none;
    font-size: 16px;
    color: $bg;
    padding: 19px 32px;
    cursor: pointer;
    & + button {
      margin-left: 5px;
    }
    &.mixitup-control-active {
      background-color: $red;
      color: #fff;
    }
  }
}

// product-slider
.product-slider {
  padding: 110px 0px 120px;
  .slick-dots {
    text-align: center;
    margin-top: 50px;
    li {
      display: inline-block;
      margin-left: 3px;
      margin-right: 3px;
      &.slick-active {
        button {
          background-color: $green;
        }
      }

      button {
        width: 16px;
        height: 16px;
        border: none;
        border-radius: 50%;
        background-color: rgb(232, 232, 232);
        font-size: 0;
        cursor: pointer;
        outline: none;
      }
    }
  }
}

// start advantages
.advantages {
  background-color: $bg;
  padding: 110px 0;
}

.advantages__title {
  font-size: 36px;
  @include f700;
  color: #ffffff;
  text-align: center;
  margin-bottom: 83px;
}

.advantages__inner {
  display: flex;
  justify-content: space-between;
}

.advantages__item {
  max-width: 318px;
  text-align: center;
  padding: 0px 15px;

  &:hover {
    .advantages__item-images {
      background-color: $green;
      transition: all 0.3s;
    }
    .advantages__item-title {
      color: $green;
      transition: all 0.3s;
    }
    .advantages__item-images {
      fill: #fff;
    }
  }
  &-images {
    width: 113px;
    height: 113px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  &-title {
    @include f500;
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 35px;
  }
  &-text {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #b0bec5;
  }
}

.ico-1 svg {
  width: 50px;
}

.ico-2 svg {
  width: 71px;
}

.ico-3 svg {
  width: 60px;
}

// start author section
.author {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 761px;
  margin-top: 3px;
  margin-bottom: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__box {
    max-width: 653px;
    min-height: 216px;
    width: 100%;
    background-color: $green;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__title {
    font-size: 30px;
    color: #ffffff;
    line-height: 36px;
    margin-right: 48px;
    min-height: 59px;
    max-width: 260px;
    span {
      @include f700;
    }
  }
  &__link {
    font-size: 18px;
    font-weight: 400;
    color: $bg;
    background-color: #ffffff;
    padding: 24px 43px;
  }
}

// tutorial start
.tutorial {
  padding: 66px 0px 120px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    max-width: 370px;
    width: 100%;
  }
  &__title {
    font-size: 36px;
    @include f700;
    color: $bg;
    text-align: center;
    margin-bottom: 57px;
  }
}

.tutorial__item {
  &-image {
    min-height: 270px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &-title {
    @include f700;
    color: $bg;
    text-align: center;
    font-size: 24px;
    background-color: #f8f8f8;
    padding: 38px 10px;
  }
}

// footer
.footer {
  background-color: $bg;

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 116px 0 99px;
  }
}

.footer__copy {
  border-top: 1px solid #424d53;
}

.footer__copy-text {
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  color: #919699;
  padding: 27px 0 32px;
}

.footer__col {
  max-width: 261px;
  width: 100%;
  &-menu {
    width: 220px;
  }
  &-text {
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #b7c3c8;
    margin-bottom: 36px;
  }
  &-title {
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    padding-bottom: 31px;
    margin-bottom: 34px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 51px;
      height: 3px;
      background-color: $green;
      bottom: 0;
      left: 2px;
    }
  }
}

.footer__info {
  @include f500;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin-top: 18px;
  padding-left: 30px;
  position: relative;
  &:before {
    content: "\f041";
    font-family: "icomoon";
    color: $green;
    font-size: 18px;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.footer__info-phone {
  &:before {
    content: "\f095";
  }
}

.footer__col-list {
  a {
    margin-bottom: 12px;
    color: #b7c3c8;
    padding-left: 22px;
    position: relative;
    &:before {
      content: "\f105";
      font-family: "icomoon";
      color: $green;
      font-size: 18px;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

.footer__social-link {
  margin-bottom: 33px;
  li {
    display: inline-block;
    & + li {
      margin-left: 7px;
    }
  }
  a {
    width: 28px;
    border-radius: 3px;
    overflow: hidden;
    margin-right: 5px;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

.footer__form-title {
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 18px;
}

.footer__form {
  position: relative;
  input {
    width: 100%;
    border: none;
    height: 40px;
    border-radius: none;
    font-size: 14px;
    color: #ffffff;
    outline-color: #8bc34a;
    // background: linear-gradient(180.0deg, #000000 0%, #263238 100%);
    background-color: #2f3c43;
    border: 1px solid #697378;
    padding: 14px 106px 14px 16px;
    &::placeholder {
      color: #697378;
    }
  }
  button {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: $green;
    border: none;
    height: 40px;
    width: 43px;
    cursor: pointer;
    &::before {
      content: "\f124";
      position: absolute;
      font-family: "icomoon";
      font-size: 20px;
      color: #fff;
      top: 9px;
      left: 13px;
    }
  }
}
